#header {
	height: 50px;
	background: #10284e;
	color: #fff;
}

#branding h1 {
	color: #fff;
}

a:link,
a:visited {
	color: #10284e;
}

div.breadcrumbs {
	background: #ee5253;
    border: none;
    font-size: 18px;
    color: #10284e;
    text-align: left;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #10284e;
}

.module caption, .inline-group h2 {
	background: #ee5253;
	border-radius: 5px;
}

.button input[type=submit]{
	color: #10284e;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
	background: #ced6e0;
}

.button.default, input[type=submit].default, .submit-row input.default {
	background: #2ed573;
}
