#header {
	min-height: 50px;
	background: #2f343f;
	color: #fff;
}

#branding h1 {
	color: #fff;
}

a:link,
a:visited {
	color: #353b48;
}

div.breadcrumbs {
	background: #78e08f;
    border: none;
    font-size: 18px;
    color: #353b48;
    text-align: left;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #353b48;
}

.module caption, .inline-group h2 {
	background: #78e08f;
	border-radius: 2px;
}

.button input[type=submit]{
	color: #353b48;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
	background: #ced6e0;
}

.button.default, input[type=submit].default, .submit-row input.default {
	background: #78e08f;
}
